body {
    color: white;
    background-color: black;
    background-image: url(img/spellbookwallpaper.webp); 
    min-height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Helvetica Neue';
}

header {
    text-align: center;
}

h1 {
    font-size: 48px;
}

h3 {
    font-size: 28px;
}

#home {
    margin-top: 35px;
    margin-left: 30px;
    cursor: pointer;
    font-size: 36px;
    color: black;
}

#main {
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

#spells-list {
    padding-top: 20px;
    columns: 3;
    line-height: 1.5;
}

#info {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 1.25;
}

footer {
    background-color: rgba(0, 0, 0, 0.4);
    text-align: right;
    padding-top: 15px;
    padding-bottom: 25px;
    padding-right: 90px;
    font-size: 28px;
}

a {
    color: white;
    text-decoration: none;
}

@media only screen and (min-device-width: 500px) {
    body {
        background-size: cover;
        background-attachment: fixed ;
        background-position: 80% 20%;
    }

    h1 {
        font-size: 42px;
    }
    
    h3 {
        font-size: 16px;
    }
    
    #main {
        font-size: 16px;
        padding-left: 90px;
        padding-right: 90px;
    }
   
    #spells-list {
        columns: 5;
        line-height: 1.25;
    }

    #info {
        padding-left: 200px;
        padding-right: 200px;
        line-height: 1.25;
    }

    #home {
        margin-left: 30px;
        font-size: 14px;
    }

    footer {
        font-size: 16px;
    }

}