body {
    color: white;
    background-color: black;
    background-image: url(img/spellbookwallpaper.webp); 
    min-height: 100%;
    background-size: cover;
    background-attachment: fixed ;
    font-family: 'Helvetica Neue';
}

header {
    text-align: center;
}

h1 {
    font-size: 42px;
}

h3 {
    font-size: 16px
}

#home {
    margin-top: 20px;
    margin-left: 30px;
}

#main {
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 90px;
    padding-right: 90px;
}

#home {
    cursor: pointer;
}

#spells-list {
    padding-top: 20px;
    columns: 5;
}

#info {
    padding-bottom: 30px;
    padding-left: 200px;
    padding-right: 200px;
}

footer {
    background-color: rgba(0, 0, 0, 0.4);
    text-align: right;
    padding-top: 15px;
    padding-bottom: 25px;
    padding-right: 90px;
}

a {
    color: white;
    text-decoration: none;
}
